@inherits NavMenuViewModel;

<div class="top-row ps-3 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img class="navbar-logo" src="_content/chldr_ui/images/logo.png">
    </a>

    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
        <NavLink class="nav-link" href="index">
        <span class="oi oi-text" aria-hidden="true"></span> @Localizer["Index"]
        </NavLink>
        </div>*@

        @if (UserStore?.ActiveSession.Status == SessionStatus.LoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="oi oi-person" aria-hidden="true"></span> @Localizer["Profile"]
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <span class="alert-success ms-2">@UserStore.ActiveSession.User?.Email</span>
            </div>
        }

        @if (UserStore?.ActiveSession.Status == SessionStatus.Anonymous)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> @Localizer["Log_in"]
                </NavLink>
            </div>
        }
    </nav>
</div>
@*
<div class="chldr_navbar_dropdown px-3">
    <select name="language" class="chldr_navbar_dropdown" @onchange="SetCurrentLanguage">
        <option value="en-US">English</option>
        <option value="ru-RU">Русский</option>
    </select>
</div>*@