@page "/password-reset"
@inject IStringLocalizer<AppLocalizations> Localizer;
@inherits ResetPasswordPageViewModel;

<h3>@Localizer["Password_reset"]</h3>
<hr />

<div class="container">

    @if (FormSubmitted)
    {
        <EmailSentView></EmailSentView>
    }
    else
    {
        <div class="row">
            <div class="col-md-4 offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">@Localizer["Forgot_password"]?</h2>
                            <p>@Localizer["You_can_reset_your_password_here"]</p>
                            <div class="panel-body">
                                <div role="form" class="form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input name="email" placeholder="@Localizer["Email_address"]"
                                                   class="form-control" type="email" @bind="@UserInfo.Email"
                                                   disabled="@FormDisabled">
                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <button class="btn btn-lg btn-primary btn-block"
                                                disabled="@FormDisabled" @onclick="@ValidateAndSubmit">
                                            @Localizer["Reset_password"]
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <FormErrorsView ErrorMessages="@ErrorMessages" />
    }

</div>
