@inherits EditEntryViewModel
@page "/entry/edit/{EntryId?}"

<div class="form-group mt-2 mb-2">
    <h5>@Localizer["Select_entry_type"]</h5>
    <select class="form-control" @onchange="@HandleEntryTypeChange">
        <option value="@(EntryType.Word)">Word</option>
        <option value="@(EntryType.Phrase)">Phrase</option>
        <option value="@(EntryType.Text)">Text</option>
    </select>
</div>

@switch (SelectedEntryType)
{
    case EntryType.Word:
        <WordEditView EntryId="@EntryId"></WordEditView>
        break;

    case EntryType.Phrase:
        break;

    case EntryType.Text:
        <h1>Text</h1>
        break;

    default:
        break;
}