@inherits EntryEditViewModel

@page "/entry/edit/{EntryId?}"

<style>
    .remove-button {
        font-size: 24px;
        background-color: transparent;
        border-radius: 4px;
        border: none;
        color: #000;
        cursor: pointer;
        padding: 5px;
    }

    .stop {
        background-color: #ff9800;
    }

    .audio {
        flex-shrink: 5;
        margin-bottom: 15px;
    }

    #recordings-list {
        width: 30%;
        min-width: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recording-list-item {
        margin-bottom: 5px;
        width: 30%;
        min-width: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

</style>

<div data-id="form_container">
    <div class="form-group mt-2 mb-2">
        <p>
            @Localizer["Type"]:&nbsp;
            @switch ((EntryType)EntryDto.Type)
            {
                case EntryType.Word:
                    @Localizer["Word"]
                    break;
                case EntryType.Phrase:
                    @Localizer["Phrase"]
                    break;
                case EntryType.Text:
                    @Localizer["Text"]
                    break;
            }
            <div class="mt-2">
                <input class="form-control" type="text" placeholder="@Localizer["EnterWord"]" @bind="EntryDto.Content" />
            </div>
        </p>

        <button class="col-3 btn btn-success" type="button" @onclick="@(() => NewTranslation())">+ @Localizer["Translation"]</button>
        <button class="col-3 btn btn-warning" id="recordButton" @onclick="ToggleRecording">+ @Localizer["Pronunciation"]</button>
    </div>



    @switch ((EntryType)EntryDto.Type)
    {
        case EntryType.Word:
            <WordEditView EntryDto="@EntryDto"></WordEditView>
            break;

        case EntryType.Phrase:
            break;

        case EntryType.Text:
            <h1>Text</h1>
            break;

        default:
            break;
    }

    <div class="mt-2">
        <div id="recordings-list" class="mt-2"></div>
    </div>

    <div class="mt-2">
        @foreach (var translation in EntryDto.Translations)
        {
            <div class="mb-4">
                <TranslationEditView Translation="@translation" OnDelete="@(async (translationId) => await DeleteTranslation(translationId))"></TranslationEditView>
                @*<hr/>*@
            </div>
        }
    </div>

    <FormErrorsView ErrorMessages="@ErrorMessages" />

    <div class="mt-3 mb-3 float-end">
        <button class="btn btn-light" @onclick="@(()=>NavigationManager.NavigateTo("/"))">@Localizer["Cancel"]</button>
        <button class="btn btn-primary" @onclick="@SaveClickHandler">@Localizer["Save"]</button>
        @*<button class="btn btn-primary">Save and add another</button>*@
    </div>
</div>