@page "/registration";
@inherits RegistrationPageViewModel;

<h3>
    @Localizer["Registration"]
</h3>

<hr />


@if (FormSubmitted)
{
    <EmailSentView></EmailSentView>
}
else
{
    <div class="col-12 d-flex justify-content-center mt-lg-5">
        <form class="col-6">

            <!-- Email and Username -->
            <div class="form-outline mb-4">
                <input type="email" name="email" class="form-control" placeholder="@Localizer["Email"]"
                       required @bind="UserInfo.Email"  />
            </div>

            <!-- Password -->
            <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="@Localizer["Password"]"
                       required @bind="UserInfo.Password"  />
            </div>

            <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="@Localizer["Confirm_password"]"
                       required @bind="UserInfo.PasswordConfirmation"  />
            </div>

            <!-- Personal Details -->
            <div class="form-outline mb-4">
                <input name="firstName" type="text" class="form-control" placeholder="@Localizer["First_name"]"
                        @bind="UserInfo.FirstName" />
            </div>

            <div class="form-outline mb-4">
                <input name="lastName" type="text" class="form-control" placeholder="@Localizer["Last_name"]"
                        @bind="UserInfo.LastName" />
            </div>

            <!-- Register buttons -->
            <div class="row d-flex align-content-end">
                <div class="col">
                    <button type="button" class="btn btn-success btn-block mb-4"
                             @onclick="ValidateAndSubmitAsync">
                        @Localizer["Register"]
                    </button>
                </div>
            </div>

            <FormErrorsView ErrorMessages="@ErrorMessages" />

        </form>
    </div>
}
