@page "/set-new-password";
@inherits SetNewPasswordPageViewModel;

<h3>@Localizer["Set_new_password"]</h3>
<hr />

<div class="col-12 d-flex justify-content-center mt-lg-5">
    @if (!FormSubmitted)
    {

        <form class="col-6">
            <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="@Localizer["Password"]"
                       required @bind="UserInfo.Password" disabled="@FormDisabled" />
            </div>

            <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="@Localizer["Confirm_password"]"
                       required @bind="UserInfo.PasswordConfirmation" disabled="@FormDisabled" />
            </div>

            <div class="row d-flex align-content-end">
                <div class="col">
                    <button type="button" class="btn btn-success btn-block mb-4"
                            disabled="@FormDisabled" @onclick="ValidateAndSubmitAsync">
                        @Localizer["Update_password"]
                    </button>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="alert-success">@Localizer["Your_password_has_been_updated"]</div>
    }
</div>
<FormErrorsView ErrorMessages="@ErrorMessages"></FormErrorsView>
