@page "/word/edit/{EntityId}";

@inject IStringLocalizer<AppLocalizations> Localizer;
@inject NavigationManager NavManager;
@inherits WordViewModel;

<h3>EntryEditPage</h3>
@*
@if (!string.IsNullOrEmpty(Content))
{

    <form class="col-6">
        <div class="form-outline mb-4">
            <input type="text" class="form-control" placeholder="@Localizer["Basic Form"]" @bind="Content" />
        </div>

        <div class="form-outline mb-4">
            <select @bind="PartOfSpeech" class="form-select">
                <option value="1" class="form-control">@Localizer["Verb"]</option>
                <option value="2" class="form-control">@Localizer["Noun"]</option>
                <option value="3" class="form-control">@Localizer["Adverb"]</option>
                <option value="4" class="form-control">@Localizer["Adjective"]</option>
            </select>
        </div>
    </form>
}*@

<button class="btn btn-light" @onclick="@(()=>NavManager.NavigateTo("/"))">Cancel</button>
<button class="btn btn-primary">Save</button>
<button class="btn btn-primary">Save and add another</button>