@page "/word/edit/{WordId}";

@inject NavigationManager NavManager;
@inherits WordEditViewModel;

<h3>EntryEditPage</h3>
@if (!string.IsNullOrEmpty(Word?.Content))
{

    <form class="col-6">
        <div class="form-outline mb-4">
            <input type="text" class="form-control" placeholder="@Localizer["Basic_Form"]" @bind="Word.Content" />
        </div>

        <div class="form-outline mb-4">
            <select @bind="Word.PartOfSpeech" class="form-select">
                <option value="1" class="form-control">@Localizer["Verb"]</option>
                <option value="2" class="form-control">@Localizer["Noun"]</option>
                <option value="3" class="form-control">@Localizer["Adverb"]</option>
                <option value="4" class="form-control">@Localizer["Adjective"]</option>
            </select>
        </div>

        @if (Word.PartOfSpeech == PartsOfSpeech.Noun)
        {
            <div class="form-outline mb-4">
                @*
        { 1 ,"ву, бу/ду"},
        { 2 ,"йу, бу/ду"},
        { 3 ,"йу, йу"},
        { 4 ,"ду, ду"},
        { 5 ,"бу, бу/йу"},
        { 6 ,"бу, ду"}
        *@

                @Localizer["Grammatical_class"]
                <select @bind="Word.PartOfSpeech" class="form-select" title="@Localizer["Grammatical_class"]">
                    <option value="1" class="form-control">@Localizer["Class:1_vu_bd"]</option>
                    <option value="2" class="form-control">@Localizer["Class:2_yu_bd"]</option>
                    <option value="3" class="form-control">@Localizer["Class:3_yu_yu"]</option>
                    <option value="4" class="form-control">@Localizer["Class:4_du_du"]</option>
                    <option value="4" class="form-control">@Localizer["Class:5_bu_by"]</option>
                    <option value="4" class="form-control">@Localizer["Class:6_b_d"]</option>
                </select>
            </div>
        }

        <div class="form-outline mb-4">
            <input type="text" class="form-control" placeholder="@Localizer["Notes"]" @bind="Word.Notes" />
        </div>

        @foreach (var translation in Translations)
        {
            <TranslationEditView Translation="@translation"></TranslationEditView>
        }

    </form>
}
<div class="mt-3 float-end">
    <button class="btn btn-light" @onclick="@(()=>NavManager.NavigateTo("/"))">Cancel</button>
    <button class="btn btn-primary" @onclick="@Save">Save</button>
    @*<button class="btn btn-primary">Save and add another</button>*@
</div>