@page "/registration";
@using FluentValidation;
@using chldr_blazor.Validators;

@inject IStringLocalizer<AppLocalizations> Localizer;

@inherits RegistrationPageViewModel;

<h3>
    @Localizer["Registration"]
</h3>

<hr />

<div class="col-12 d-flex justify-content-center mt-lg-5">

    <form class="col-6">

        <!-- Email and Username -->
        <div class="form-outline mb-4">
            <input type="email" class="form-control" placeholder="@Localizer["Email"]" required @bind="Email" />
        </div>
        <div class="form-outline mb-4">
            <input type="text" class="form-control" placeholder="@Localizer["Username"]" required @bind="Username" />
        </div>

        <!-- Password -->
        <div class="form-outline mb-4">
            <input type="password" class="form-control" placeholder="@Localizer["Password"]" required @bind="Password" />
        </div>

        <div class="form-outline mb-4">
            <input type="password" class="form-control" placeholder="@Localizer["Confirm password"]" required @bind="PasswordConfirmation" />
        </div>

        <!-- Personal Details -->
        <div class="form-outline mb-4">
            <input type="text" class="form-control" placeholder="@Localizer["First Name"]" @bind="FirstName" />
        </div>

        <div class="form-outline mb-4">
            <input type="text" class="form-control" placeholder="@Localizer["Last Name"]" @bind="LastName" />
        </div>

        <!-- Register buttons -->
        <div class="row d-flex align-content-end">
            <div class="col">
                <button type="button" class="btn btn-success btn-block mb-4" @onclick="SendRegistrationRequest">@Localizer["Register"]</button>
            </div>
        </div>
    </form>
</div>

@if (ErrorMessages.Count() > 0)
{
    <div class="blazor-error-boundary">

        <div class="chldr_registration_errors">
            @foreach (var errorMessage in ErrorMessages)
            {
                <div>&bull; @errorMessage</div>
            }
        </div>
    </div>
}