@page "/word/edit/{EntityId}";

@inject IStringLocalizer<AppLocalizations> Localizer;

<h3>EntryEditPage</h3>

<form class="col-6">
    <div class="form-outline mb-4">
        <input type="text" class="form-control" placeholder="@Localizer["Basic Form"]" @bind="ViewModel.Content" />
    </div>

    <div class="form-outline mb-4">
        <select @bind="ViewModel.PartOfSpeech">
            <option value="1">@Localizer["Verb"]</option>
            <option value="2">@Localizer["Noun"]</option>
            <option value="3">@Localizer["Adverb"]</option>
            <option value="4">@Localizer["Adjective"]</option>
        </select>
    </div>
</form>

<button>Save</button>
<button>Save and add another</button>

@code {
    [Parameter]
    public WordViewModel ViewModel { get; set; }
}