@inherits SearchQueryViewModel;

<div class="input-group mb-3 mt-3">

    <div class="input-group-prepend">
        <span class="input-group-text">
            <span class="bi bi-search"></span>
        </span>
    </div>

    <input class="form-control shadow-none"
           placeholder="@Localizer["Start_typing"]"
    @ref="SearchInputReference"
    @bind="@SearchQuery"
    @oninput="(e)=> Search(e)" />

    <div class="ms-2">
        <button type="button" class="chldr_btn_show-randoms btn btn-secondary" @onclick="LoadRandomEntries">
            <span class="bi-arrow-repeat"></span>
        </button>
    </div>

</div>

<div class="list-group-horizontal">
    <button class="btn btn-outline-primary" @onclick="ToggleOnModerationFlag"># @Localizer["OnModeration"]</button>
    @*<button class="btn btn-outline-primary" @onclick="LoadLatestEntries"># @Localizer["Latest"]</button>*@
    @*<button class="btn btn-outline-primary" @onclick="LoadEntriesToFiddleWith">@Localizer["# experimental"]</button>*@

    @if (UserStore.ActiveSession.Status == SessionStatus.LoggedIn)
    {
        <a class="btn btn-success ms-1" href="/entry/edit">+ @Localizer["AddAsk"]</a>
    }
</div>