@inherits TranslationEditViewModel

@if (TranslationDto == null)
{
    return;
}

<div class="row">
    <div class="col-10">
        <select @bind="@TranslationDto.LanguageCode" class="form-select" disabled="@(!CanEditTranslation)">
            @foreach (var language in ContentStore.Languages)
            {
                <option value="@language.Code" class="form-control">@language.Name</option>
            }
        </select>
    </div>

    <TranslationActionButtonsView 
        EditHandler="() => EditHandler()" 
        RemoveHandler="() => RemoveHandler()"
        TranslationDto="@TranslationDto">
    </TranslationActionButtonsView>
</div>

<input type="text" class="form-control mt-2" autocomplete="off" disabled="@(!CanEditTranslation)"
       placeholder="@Localizer["Enter_translation_text"]" required @bind="TranslationDto.Content" />

<input type="text" class="form-control mt-2" autocomplete="off" disabled="@(!CanEditTranslation)"
       placeholder="@Localizer["Enter_translation_notes"]" @bind="TranslationDto.Notes" />