@inherits TranslationEditViewModel

<p>
    @Localizer["Choose_language"]
</p>

<select @bind="@Translation.LanguageCode" class="form-select" title="@Localizer["Grammatical_class"]">
    @foreach (var language in ContentStore.AllLanguages)
    {
        <option value="@language.Id" class="form-control">@Translation.LanguageCode</option>
    }
</select>

<input type="text" class="form-control" autocomplete="off" disabled="@FormDisabled"
       placeholder="@Localizer["Enter_translation_text"]" required @bind="Translation.Content" />

<input type="text" class="form-control" autocomplete="off" disabled="@FormDisabled"
       placeholder="@Localizer["Enter_translation_notes"]" @bind="Translation.Notes" />
