@inject IStringLocalizer<AppLocalizations> Localizer;

<div class="chldr_entry_header card-title">
    @ViewModel.Header
    @*<span class="oi oi-volume-high" @onclick="ViewModel.ListenToPronunciation"></span>*@
</div>

@if (!String.IsNullOrWhiteSpace(@ViewModel.Subheader))
{
    <div class="chldr_entry_sub-header">
        @ViewModel.Subheader
    </div>
}

@if (!String.IsNullOrWhiteSpace(@ViewModel.Notes))
{
    <div class="chldr_translation_notes">
        (@ViewModel.Notes)
    </div>
}

@if (!String.IsNullOrWhiteSpace(@ViewModel.Source))
{
    <div class="chldr_entry_source">
        @Localizer["Source"]: @ViewModel.Source
    </div>
}

@code {
    [Parameter]
    public WordViewModel ViewModel { get; set; }
}
