@inherits WordSelectorViewModel;

<div>
    <div class="row">
        <div class="input-group mb-3 mt-3">

            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="bi bi-search"></span>
                </span>
            </div>

            <input class="form-control shadow-none" placeholder="@Localizer["Start_typing"]"
            @ref="SearchInputReference"
            @bind="@SearchQuery"
            @oninput="(e)=> Search(e)" />
        </div>
    </div>


    <div class="row">
        <div class="chldr_serach_results mt-2">

            @if (Entries != null)
            {
                <div class="chldr_entries">
                    @foreach (var entry in Entries)
                    {

                        <div class="chldr_entry">
                            <div class="card card-body">

                                <div class="chldr_entry_header card-title">
                                    @entry.Content
                                </div>

                                @if (!String.IsNullOrWhiteSpace(@entry.Source?.Name))
                                {
                                    <div class="chldr_entry_source">
                                        @Localizer["Source"]: @entry.Source?.Name
                                    </div>
                                }

                                <div class="chldr_entry_translations mt-2">
                                    @foreach (var translation in @entry.Translations)
                                    {
                                        <div class="chldr_translation card-subtitle">
                                            <span class="chldr_translation_language-code">
                                                @translation?.LanguageCode
                                            </span>

                                            <span class="chldr_translation_content">
                                                @translation?.Content
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>